<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Management Center',active='start'">
<header th:replace="admin/fragments/header::headerFragment(${title},${active})"></header>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/fragments/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">To do List</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <span class="mini-stat-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    There are<span class="counter" th:text="${homeworkCorrectRecordsList.size()}"></span>more  assignments to be marked
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    There are<span class="counter" th:text="${testCorrectRecordsList.size()}"></span>more Test paper to be marked
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <span class="mini-stat-icon">
                                    <i class="fa fa-cloud-upload" baria-hidden="true"></i>
                                </span>
                                <div class="mini-stat-info text-right">
                                    Already release<span class="counter" th:text="${testPaperList.size()}"></span>Test paper
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-primary bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    Already release<span class="counter" th:text="${homeworkPaperList.size()}"></span>Assignments
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Test Papers to be marked</h4>
                                </div>
                                <div class="panel-body">
                                    <div th:if="${dpgtestPaperList}== null and ${dpgtestPaperList.size()}==0">
                                        <div class="alert alert-warning">
                                           No Test Papers to be marked
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="article,userStat : ${dpgtestPaperList}">
                                            <a target="_blank"  th:if="${userStat.index<5}" th:href="@{'/admin/testCorrectRecords/list/'+${article.id}}" th:text="${article.name}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Assignment to be marked</h4>
                                </div>
                                <div class="panel-body">
                                    <div th:if="${dpghomeworkPaperList}== null and ${dpghomeworkPaperList.size()}==0">
                                        <div class="alert alert-warning">
                                           No Assignment to be marked
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="article,userStat : ${dpghomeworkPaperList}">
                                            <a target="_blank" th:if="${userStat.index<5}" th:href="@{'/admin/homeworkCorrectRecords/list/'+${article.id}}" th:text="${article.name}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">System Log</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group" >
                                        <li class="list-group-item" th:each="log : ${logs}">
                                            <span th:text="${commons.fmtdate(log.created, 'yyyy-MM-dd HH:mm:ss')} +' => '+ ${log.action}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="admin/fragments/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/fragments/footer :: footers"></div>
</body>
</html>