<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wip.dao.HomeworkQuestionMapper">
  <resultMap id="BaseResultMap" type="com.wip.model.HomeworkQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="test_paper_id" jdbcType="INTEGER" property="testPaperId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="a" jdbcType="VARCHAR" property="a" />
    <result column="b" jdbcType="VARCHAR" property="b" />
    <result column="c" jdbcType="VARCHAR" property="c" />
    <result column="d" jdbcType="VARCHAR" property="d" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="serial_num" jdbcType="INTEGER" property="serialNum" />
  </resultMap>

  <select id="selectHomeworkQuestionAndUserList" resultType="java.util.Map">
    select * from homework_question tp
    left join test_user tu on tp.creator = tu.userid
    <where>
      <if test="testPaperId!=null">
        and tp.test_paper_id = #{testPaperId}
      </if>
    </where>
  </select>
    <select id="selectQuestionAndUserAns" resultType="java.util.Map">
      select tp.*,hr.answer userAnswer from homework_question tp
      left join (select * from homework_record where creator = #{uid})  hr on hr.test_question_id=tp.id
      where tp.test_paper_id=#{testPaperId}
    </select>
</mapper>