<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wip.dao.TestStudylogsMapper">
  <resultMap id="BaseResultMap" type="com.wip.model.TestStudylogs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="articleid" jdbcType="INTEGER" property="articleid" />
    <result column="percent" jdbcType="INTEGER" property="percent" />
  </resultMap>
</mapper>